<div class="container">
    <h1>Fresh Student Registration</h1>
    <form action="/action_page.php">
        <label for="State of Domincile">State of Domincile:</label>
        <select id="country" name="State of Domincile">
            <option value="list1">list1</option>
            <option value="list2">list2</option>
            <option value="list3">list3</option>
          </select>
          <label for="District">District:</label>
          <select id="country" name="District">
            <option value="District1">District1</option>
            <option value="District2">District2</option>
            <option value="District3">District3</option>
          </select>
        <label for="fname">Name(As In Marks Sheet) </label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
         <label for="Date">DOB</label>
         <input type="date" name="date" id="date"><br>
         <label for="District">Gender:</label>
         <select id="gender" name="gender">
            <option value="select">select</option>
           <option value="Male">Male</option>
           <option value="Female">Female</option>
         </select>
        <label for="number">Mobile Number</label>
        <input type="text" placeholder="enter a mobile number">
        <label for="email">EMAIL Id</label>
        <input type="text" placeholder="Enter a email address">
        <label for="institute code">Institute Code</label>
        <input type="text" placeholder="enter a institute code">
        <label for="IFSC CODE">IFSC CODE</label>
        <input type="text" placeholder="enter a ifsc code">
        <label for="bank">BANK ACCOUNT NUMBER</label>
        <input type="text" placeholder="enter a  Bank account number">
        <label for="bank">BANK NAME</label>
        <input type="text" placeholder="enter a  Bank name">
        <label for="bank">Password</label>
        <input type="text" placeholder="enter a  password">
        <label for="bank">Confirm password</label>
        <input type="text" placeholder="enter a  Confirm password">
        <div class="btn-student">
            <button mat-raised-button class="btn-student2" color="primary">Register</button>
            <button mat-raised-button class="btn-student2" color="warn">Reset</button>
        </div>
       
      </form>
</div>